/* 兼容性处理 */

@mixin compatible-position-sticky($dir: top, $val: 0) {
  position: sticky;
  $dir: $val;
  z-index: 10;

  position: relative;
}

@mixin compatible-backdrop-filter($val: 10px) {
  backdrop-filter: blur($val);

  background-color: rgba(255, 255, 255, 0.7);
}
