/* 兼容性处理 */

@mixin compatible-position-sticky($dir: top, $val: 0) {
  position: sticky;
  position: relative;
  z-index: 10;
  $dir: $val;
}

@mixin compatible-backdrop-filter($val: 10px) {
  backdrop-filter: blur($val);
  background-color: rgb(255 255 255 / 70%);
}
